@import url('https://fonts.googleapis.com/css2?family=Sahitya:wght@400;700&display=swap');


.App {
  font-family: "Sahitya", serif;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 700;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.calculator__form {
  align-items: left;
}


.page{
  display: flex;
  flex-direction: column;
  background-color: rgb(230, 220, 220);
  width: 100;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}

.page__item {
  font-size:x-large;  
  font-weight: 500;
  padding: 15px;
}

.page__half {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80%;
  background-color: rgb(154, 192, 228);
  
}

.tag__item{
   padding:15px
} 